body{
    background-color:rgba(0,0,0,0.5);
    background-image: url(/static/stars.jpg);
    /* background-repeat: no-repeat; */
    color: white;
}
body *{
    font-family: Ubuntu;
}
a,a:hover a:visited{
    color: #fff;
    text-decoration: none;
}
